.form-input{
    position: relative;
    margin-bottom: 10px;
    ion-item::part(native){
      padding-left: 0;
    }
    
    ion-icon{
      position: absolute;
      top: 16px;
      z-index: 2;
      font-size: 1.2rem;
      left: 8px;
    }
    ion-label{
      position: absolute;
      margin-left: 35px;
      font-weight: bolder;
      font-size: 15px;
      top: 3px;
    }
    ion-input{
      font-size: 0.9rem;
      --padding-start: 36px;
      --padding-top: 36px;
      
    }
  }