<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ResgistrAPP
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <!-- IOS -->
  <ion-card>
    <img src="assets/icon/logoduoc.png" />
    
  </ion-card>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RegistrAPP</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <div id="container">
   
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

    <ion-button color="warning" expand="block" ><a slot="end" href="listado">Crear listado</a></ion-button>
    <ion-button color="warning" expand="block" ><a slot="end" href="registrarse">Registrarse</a></ion-button>
    
  </div>
</ion-content>

