<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ResgistrAPP
    </ion-title>
    <a slot="end" href="home">Home</a>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <!-- IOS -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RegistrAPP</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-card>
      <img src="assets/icon/qr.png" />
      <ion-card-header>
        <ion-card-title>Este es su codigo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Tienes 40 min. para poder utilizar este codigo
      </ion-card-content>
    </ion-card>
</ion-content>