<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ResgistrAPP
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <!-- IOS -->
  <ion-card>
    <img src="assets/icon/logoduoc.png" />
  </ion-card>
  
  <div class="login-section ion-padding">
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-icon name="person-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating"> Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="finger-print-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <p [routerLink]="['/recuperar']">Olvidaste tu contraseña?</p>
        
      </div>
      <div class="action-button ion-padding">
        <ion-button size="large" class="btn-login"  [routerLink]="['/tipousuario']">Log in</ion-button>
        <p [routerLink]="['/registro']">No tienes una cuenta ?</p>
      </div>
      
      
  </div>
    
  </div>
</ion-content>

