<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ResgistrAPP
    </ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <!-- IOS -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RegistrAPP</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="entradaActual">
    <ion-card-content>
      <p id="fechaTexto">{{entradaActual.fechaTexto}}</p>
      <ion-textarea rows="15" [(ngModel)] = "entradaActual.texto">
        
      </ion-textarea>
    </ion-card-content>
    <ion-button expand="block" (click)="guardar(entradaActual)">
      Guardar
    </ion-button>
  </ion-card>
</ion-content>
