<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ResgistrAPP
    </ion-title>
    <a slot="end" href="home">Home</a>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> <!-- IOS -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RegistrAPP</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <br>
    <ion-item>
      <ion-label>Usuario</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Contraseña</ion-label>
      <ion-input></ion-input>
    </ion-item>
    
    <ion-button color="warning" expand="block" ><a slot="end" href="qr">Iniciar sesion</a></ion-button>
    <p><a href="recuperar" slot="">Recuperar contraseña</a></p>

    
  </div>
</ion-content>